<header>
    <div id="hamburgerBar">            
        <div class="hamburgerLine"></div>
        <div class="hamburgerLine"></div>
        <div class="hamburgerLine"></div>
    </div>
    
    <nav>
        <ul id="navMenu">
            <li><a class="headerNavLinks" id="homeLink" href="/">Home</a></li>
            <li><a class="headerNavLinks" id="aboutUsLink" href="#aboutUs.html">About Us</a></li>
            <li><a class="headerNavLinks" id="dashboardLink" href="Dashboard.html">Dashboard</a></li>
            <li><a class="headerNavLinks" id="profileLink" href="profilePage.html">Profile</a></li>
        </ul>
    </nav>
    <div id="logo">
        <h1>Tut<span>Yo</span></h1>
    </div>
</header>