<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    
    <script src = "javaScript/headerFunctionality.js"></script>
    <script src="javaScript/dashboard.js"></script>
</body>
</html>