<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        
        <form class="container-form" id="forgotPasswordForm">
            <h1 id="formTitle">Forgot Password</h1>
            
            <div class="main-error error hide" id="formError"></div>
            <div class="success-msg hide" id="formSuccess"></div>

            <div id="inputFieldContainer">
                <p class="form-description">
                    Enter the email address linked to your account and we'll send you a password reset link.
                </p>
                
                <div class="error hide" id="emailError"></div>
                <input type="text" name="email" placeholder="email address" id="resetEmail">
                
                <section id="loginSection">
                    <button id="submitBtn" type="submit">Send Reset Link</button>
                </section>

                <section id="additonalOptions">
                    <p id="switchModeText">Remember your password? <a href="/loginOrRegister">Sign in</a></p>
                </section>
            </div>
        </form>

        <script src="/javaScript/headerFunctionality.js"></script>
        <script src="/javaScript/forgotPassword.js"></script>
    </body>
</html>
