<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
<body>
    <%-include('../partials/header') %>
    <!--Hero's section of the page-->
    <section>

    </section>
    <!--About the tool section-->
    <section>

    </section>
    <!--Call to action section-->
    <section>

    </section>
    <!--Footer section-->
    <footer>
    </footer>
    <script src = "/javaScript/headerFunctionality.js"></script>
</body>
</html>