<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
    <body>
        <%- include('../partials/header')%>
        <!-- A container for login menu  -->
        <form class = "container-form" data-mode = "login">
            <!-- This is the form action that will be used to determine if the user is logging in or registering -->
            <input type="hidden" name="action" id="formAction" value="login">

            <h1 id="formTitle">LOGIN</h1> <!--Subjected to change--- change to Register-->
            <div class="main-error error hide" id="formError"></div>
            
            <!--container to hold the input boxes-->
            <div id="inputFieldContainer">
                <!--Register Input Field-->
                <div class="register-error error hide" id="fNameError"></div>
                <input type = "text" name="firstName" placeholder="first name" class="registerInput hide"> 
                
                <div class="register-error error hide" id="lNameError"></div>
                <input type = "text" name="lastName" placeholder="last name" class="registerInput hide">
                
                <div class="register-error error hide" id="usernameError"></div>
                <input type = "text"  name="username" placeholder="username" class="registerInput hide">
                
                <div class="register-error error hide" id="emailError"></div>
                <input type = "text" name="email" placeholder="email" class="registerInput hide">
                
                <div class="register-error error hide" id="registerPasswordError"></div>
                <div class = 'password-wrapper'>
                    <input type = "password" name="setPassword" placeholder="password" class="registerInput password hide" id="registerPassword">
                    <img src="/Assets/pwInvisible.png" alt="icon to hide password" id="registerPwVButton" class="toggle-password register hide">
                </div>
                <input type = "password" name="confirmPassword" placeholder="confirm password" class="registerInput hide">
     
                <!--Login Input field-->
                <div class="login-error error hide" id="usernameOrEmailError"></div>
                <input type="text" name="userOrEmail" placeholder="email/username" class="loginInput">
                
                <div class="login-error error hide" id="loginPasswordError"></div>   
                <div class = 'password-wrapper'>
                    <input type="password" name="password" placeholder="password" class="loginInput password" id="loginPassword">
                    <img src="/Assets/pwInvisible.png" alt="icon to hide password" id="loginPwVButton" class="toggle-password  login">
                </div>
                
                

                <div class="register-error error hide" id="userTypeError"></div>
                <!--Register Radio Options-->
                <div id="userType" class="hide">
                    <label for="studentRadio" class="registerInput hide">
                        <input type = "radio" id="studentRadio" name="userType" value="student" class="radioInput">
                        Student
                    </label>

                    <label for="teacherRadio"  class="registerInput hide">
                        <input type = "radio" id="teacherRadio" name="userType" value="teacher" class="radioInput">
                        Teacher
                    </label>

                    <label for="noType" class="registerInput hide">
                        <input type="radio" id="noType" name="userType" value="none" class="radioInput">
                        None
                    </label> 
                </div>
                
    
                <section id="loginSection">
                    <div id="loginOptions" class="loginInput">
                        <label for = "rememberMe" class="rememberMe">   
                            <input type="checkbox" id="rememberMe" name="rememberMe" value="rememberMe">                   
                            <p>Remember me</p>
                        </label>
                        <a href="/loginOrRegister/forgot_password"><p>Forgot password?</p></a>
                    </div> 
                    <button id="submitBtn" type="submit">Login</button>
                    <div class="divider">
                        <span>or</span>
                    </div>
                    <div id="socialMediaLogin">
                        <a href="/auth/google"><button type="button" class="OAuth-Icon" id="googleOAuthIcon"><img src="/Assets/Google-Icon.png" alt="googleLogin"></button></a>
                        <!-- Not able to gain the following credentials to set up these OAuth methods, disabled for now -->
                        <a href="/auth/microsoft"><button type="button" class="OAuth-Icon" id="microsoftOAuthIcon" disabled><img src="/Assets/Microsoft-Icon.png" alt="microsoftLogin"></button></a>
                        <a href="/auth/apple"><button type="button" class="OAuth-Icon" id="appleOAuthIcon" disabled><img src="/Assets/AppleLogos.png" alt="appleLogin"></button></a>
                    </div>
                </section>
                <section id="additonalOptions">
                    <p id="switchModeText">Don't have an account? <a class="switchModeLink" href="#.html">Sign up</a> </p>
                <!--div>
                <p id="terms&Conditions">Terms & Conditions</p>
                </div-->
                </section>
            </div>
        </form>  


        <script src = "javaScript/headerFunctionality.js"></script>
        <script src="javaScript/loginAndRegister.js"></script>
    </body>
</html>