<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        
        <form class="container-form" id="resetPasswordForm">
            <h1 id="formTitle">Reset Password</h1>
            
            <div class="main-error error hide" id="formError"></div>
            <div class="success-msg hide" id="formSuccess"></div>

            <!-- Token passed from the server -->
            <input type="hidden" name="token" id="resetToken" value="<%= token %>">

            <div id="inputFieldContainer">
                <div class="error hide" id="passwordError"></div>
                <div class="password-wrapper">
                    <input type="password" name="newPassword" placeholder="new password" class="password" id="newPassword">
                    <img src="/Assets/pwInvisible.png" alt="toggle password visibility" class="toggle-password" id="newPwToggle">
                </div>

                <div class="error hide" id="confirmPasswordError"></div>
                <input type="password" name="confirmPassword" placeholder="confirm new password" id="confirmPassword">
                
                <section id="loginSection">
                    <button id="submitBtn" type="submit">Reset Password</button>
                </section>

                <section id="additonalOptions">
                    <p id="switchModeText">Remember your password? <a href="/loginOrRegister">Sign in</a></p>
                </section>
            </div>
        </form>

        <script src="/javaScript/headerFunctionality.js"></script>
        <script src="/javaScript/forgotPassword.js"></script>
    </body>
</html>
